Source: libmicrohttpd
Section: libs
Priority: optional
Maintainer: Bertrand Marc <beberking@gmail.com>
Build-Depends: debhelper (>= 9), autoconf, automake, dh-autoreconf,
 libgcrypt-dev, libgnutls-dev, libcurl4-gnutls-dev, zzuf, socat
Standards-Version: 3.9.3
Vcs-Git: git://git.debian.org/git/collab-maint/libmicrohttpd.git
Vcs-browser: http://git.debian.org/?p=collab-maint/libmicrohttpd.git
Homepage: http://www.gnu.org/software/libmicrohttpd/

Package: libmicrohttpd10
Architecture: any
Pre-Depends: multiarch-support
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library embedding HTTP server functionality
 libmicrohttpd is a small C library for embedding HTTP server functionality into
 applications, such as GNUnet.

Package: libmicrohttpd-dbg
Section: debug
Priority: extra
Architecture: any
Depends:
 ${misc:Depends}, libmicrohttpd10 (= ${binary:Version}),
 libmicrohttpd-dev (= ${binary:Version})
Description: library embedding HTTP server functionality (debug)
 libmicrohttpd is a small C library for embedding HTTP server functionality into
 applications, such as GNUnet.
 .
 This package contains the debugging symbols.

Package: libmicrohttpd-dev
Section: libdevel
Architecture: any
Depends:
 ${misc:Depends}, libmicrohttpd10 (= ${binary:Version}),
 dpkg (>= 1.15.4) | install-info
Description: library embedding HTTP server functionality (development)
 libmicrohttpd is a small C library for embedding HTTP server functionality into
 applications, such as GNUnet.
 .
 This package contains the development files.
