#!/usr/bin/make -f

# test suite is known to fail on kfreebsd, don't fail build on that
TESTSUITE_FAIL_CMD=exit 1
ifneq ($(filter $(DEB_BUILD_ARCH), kfreebsd-amd64 kfreebsd-i386),)
TESTSUITE_FAIL_CMD=exit 0
endif


%:
	dh ${@} --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr/local

override_dh_auto_build:
	dh_auto_build -- PREFIX=/usr/local

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr/local

	# Removing useless files
	rm -f debian/tmp/usr/local/lib/*/*.la

override_dh_auto_test:
	dh_auto_test || $(TESTSUITE_FAIL_CMD)

override_dh_install:
	dh_install --fail-missing

override_dh_usrlocal:

override_dh_strip:
	dh_strip -plibmicrohttpd10 --dbg-package=libmicrohttpd-dbg
	dh_strip -plibmicrospdy0 --dbg-package=libmicrospdy-dbg
